.page {
  /* 
  --変数名:値; でカスタムプロパティの定義ができる 
  実際に使いたい箇所で var(--変数名) と記述すると、定義した値を当てはめられる
  */
  justify-items: center;
  min-height: 100svh;
  padding: 100px 55px;
  font-family: var(--font-geist-sans);
}

.page h1 {
  font-size: 1.5em;
}
.whiteBox {
  background-color: var(--font-white);
  margin-bottom: 1rem;
  color: var(--font-black);
  padding: 1rem;
  align-items: center;
  border-radius: 10px;
}
